// Generated at configure time. Do not copy this file out of the local build directory.
#pragma once

#include <cstddef>
#include <cstdint>

namespace hwinfo::local_requirements {

inline constexpr char gpu_catalog_csv[] = R"HWI_GPU_DATA(@HWINFO_LOCAL_GPU_CATALOG_CONTENT@)HWI_GPU_DATA";
inline constexpr std::size_t gpu_catalog_csv_size = sizeof(gpu_catalog_csv) - 1;

inline constexpr std::uint64_t min_physical_cpu_cores = @HWINFO_LOCAL_MIN_CPU_CORES@ull;
inline constexpr char min_gpu_model[] =
    R"HWI_GPU_REQ(@HWINFO_LOCAL_MIN_GPU_MODEL@)HWI_GPU_REQ";
inline constexpr std::uint64_t min_memory_bytes =
    @HWINFO_LOCAL_MIN_MEMORY_GIB@ull * 1024ull * 1024ull * 1024ull;
inline constexpr bool require_solid_state_disk = @HWINFO_LOCAL_REQUIRE_SSD_LITERAL@;

}  // namespace hwinfo::local_requirements
